* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
#scene-container {
  width: 100%;
  height: 100%;
}

/* typography */

body {
  background: #D0C4C3;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #201A1A;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

h1 {
  font-size: 96px;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 64px;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 34px;
  letter-spacing: 0.25px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
  letter-spacing: 0.15px;
}

button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.25px;
}

.subtitle,
.title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

/* expoDetails */

.popup-hidden {
  display: none;
}

.popup-shown {
  position: absolute;
  left: 5%;
  top: 20%;
  display: flex;
  flex-direction: column;
  z-index: 5;
  width: 35%;
  color: #524343;
}

.expoInfo-hidden {
  display: none;
}

.expoInfo-shown {
  display: flex;
  flex-direction: column;
}

.expoInfo-shown .prompt {
  margin: 8px;
}

.answerInfo-hidden {
  display: none;
}

.answerInfo-shown {
  display: flex;
  flex-direction: column;
}

.h2-correct {
  color: #745A2F;
}

.h2-wrong {
  color: #690005;
}

/* buttons */

.guess {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.guess .guess-but {
  display: flex;
  flex: 1 0 calc(100%/2 - 16px);
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  margin: 8px;
  background: #ECE0DF;
  color: #201A1A;
  border: none;
  border-radius: 20px;
}

.guess-but:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.guess-but:focus {
  background: #FFDAD9;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.answer-but {
  background: #FFDEAD;
  margin: 24px 8px;
  border: none;
  color: #201A1A;
  padding: 8px 16px;
  border-radius: 20px;
}

.answer-but:hover {
  transform: scale(1.02);
  border: 1px solid #201A1A;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.answer-arrow {
  color: #201A1A;
  font-size: 20px;
  margin: -5px 5px;
}

.correct-answer {
  background: #FFDEAD;
  color: #201A1A;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  margin: 8px;
}

.logo {
  position: absolute;
  left: 0%;
  top: 0%;
  margin: 16px 25px;
  z-index: 25;
}


/* exit but */

.exit-hidden {
  display: none;
}

.exit-shown {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 80px;
  top: 0%;
  margin: 15px 25px;
  z-index: 20;
  /* padding: 14px 14px; */
  border: none;
  color: #ECE0DF;
  background-color: #AD8887;
  border-radius: 40px;
}

.exit-but {
  box-sizing: content-box;
  background: none;
  padding: 14px;
  border: none;
  font-size: 32px;
  color: #ECE0DF;
}

.exit-shown:hover {
  cursor: pointer;
  background-color: #ECE0DF;
  color: #AD8887;
  border: 1.5px solid #AD8887;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.exit-but:hover {
  color: #AD8887;
}


/* nav menu */

.hambuger {
  position: absolute;
  right: 0%;
  top: 0%;
  margin: 15px 25px;
  padding: 5px;
  z-index: 15;
  color: #ECE0DF;
  background-color: #AD8887;
  border-radius: 40px;
}

.hambuger:hover {
  cursor: pointer;
  background-color: #ECE0DF;
  color: #AD8887;
  border: 1.5px solid #AD8887;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.menuLayer-hidden {
  display: none;
  opacity: 0;
}

.menuLayer-shown {
  position: absolute;
  right: 0%;
  top: 0%;
  display: flex;
  flex-direction: column;
  color: #FFDAD9;
  background-color: #5D3F3F;
  opacity: 0.9;
  animation: fade-in 0.5s;
  z-index: 10;
  width: 50%;
  height: 100%;
}

.menuContent-shown {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 5%;
  top: 12%;
  width: 70%;
  animation: upwards 0.5s;
}

.menuContent-shown ul {
  list-style: none;
  padding: 0.5em 2em;
}

.menuContent-shown li {
  padding: 0.5em;
}

.menuContent-shown a {
  color: #FFDAD9;
}

.menuContent-shown h4 {
  color: #FFB3B2;
}




@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.9;
  }
}

@keyframes upwards {
  0% {
    top: 200%;
  }

  100% {
    top: 12%;
  }
}