* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
#scene-container {
  width: 100%;
  height: 100%;
}

body {
  background: #D0C4C3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popup-hidden {
  display: none;
}

.popup-shown {
  position:absolute;
  left: 5%;
  bottom: 25%;
  display: flex;
  flex-direction: column;
  z-index: 50;
  width: 30%;
}
